<% if @movie.errors.any? %>
  <h2>We have some errors here !</h2>
  <ul>
    <% @movie.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>   
  </ul>
<% end %>

<%= form_for [:admin, @movie] do |f| %>
  <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: true}, {class: "form-control"}%>
  
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>

  <%= f.label :year, "Year" %>
  <%= f.text_field :year %>
  
  <%= f.label :score, "Score" %>
  <%= f.text_field :score %>
  
  <%= f.label :description, "Description" %>
  <%= f.text_area :description %>

  <%= f.label :image, "Photo" %>
  <%= image_tag @movie.image, width: '300px' if @movie.image? %>
  <%= f.file_field :image %>

  
  <%= f.submit %>

<% end %>