
<div class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
      <li class="sidebar-search">
        <div class="input-group custom-search-form">
          <input type="text" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
        <!-- /input-group -->
        </li>
        <li>
          <%= link_to 'Movies', admin_movies_path, class: "fa fa-dashboard fa-fw" %>
        </li>
        <li>
          <%= link_to 'Categories', admin_categories_path, class: "fa fa-dashboard fa-fw" %>
        </li>
        <li>
          <a href="index.html"><i class="fa fa-dashboard fa-fw"></i>Users</a>
        </li>
    </ul>
    <!-- /#side-menu -->
  </div>
  <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
  
<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Movies</h1>
    </div>
  <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="card">
            <div class="content">

              <div class="row">
                <div class="col-xs-4">
                  <img src="http://via.placeholder.com/500x500" class="img-responsive img-rounded">
                </div>
                <div class="col-xs-7">
                  <div class="numbers">
                    <p><b>Category:</b> <%= movie.category.name %></p> 
                    <p><b>Name:</b> <%= movie.name %></p> 
                    <p><b>Year:</b> <%= movie.year %></p>
                    <p><b>Sum:</b> <%= truncate movie.description, length: 50 %></p>
                  </div>
                </div>
              </div>

              <div class="footer">
                <hr />
                <div class="stats">
                  <ul class="movie-icon">
                    <li><%= link_to 'show', admin_movie_path(movie), class: "fa fa-eye" %></li>
                    <li><%= link_to 'edit', edit_admin_movie_path(movie), class: "fa fa-pencil" %></li>
                    <li><%= link_to 'delete', admin_movie_path(movie), method: :delete, data:{confrim: "are you sure?"}, class: "fa fa-trash-o" %></li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>            
      <!-- /.panel -->
      </div>
    <% end %>
    <!-- /.row -->
  </div>
  <%= paginate @movies %>
</div>









