<h1><%= @movie.name %></h1>
<%= image_tag @movie.image, width: '600px' %>
Year: <%= @movie.year %>
IMDB Score: <%= @movie.score %>
Description: <%= @movie.description %>


<br>

<%= link_to 'Back to Index', admin_movies_path %>
