<!DOCTYPE html>
<html>
  <head>
    <title>MoviesForum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <%= link_to "Movie Forum", root_path, class: "navbar-brand" %>
        </div>

        <ul class="nav navbar-top-links navbar-right">
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu dropdown-user">
                <% if current_user %>
                <li><i class="fa fa-user fa-fw"></i><%= current_user.email %></li>
                  <% if current_user.admin? %>
                  <li><%= link_to '後台', admin_movies_path, class: "fa fa-user fa-fw" %></li>
                  <% end %>
                <li class="divider"></li>
                <li><%= link_to('登出', destroy_user_session_path, method: :delete, class: "fa fa-sign-out fa-fw") %></li>
                <li><%= link_to('修改密碼', edit_user_registration_path, class: "fa fa-gear fa-fw") %></li>
                
                <% else %>
                <li><%= link_to('註冊', new_user_registration_path, class: "fa fa-sign-out fa-fw") %></li>
                <li><%= link_to('登入', new_user_session_path, class: "fa fa-gear fa-fw" ) %></li>

              <% end %>
              </ul>
  
              <!-- /.dropdown-user -->
          </li>
          <!-- /.dropdown -->
        </ul>
      </nav>
    </div>      
    <%= yield %>
  </body>
</html>
